body{
    background: #555555;
    font-family: sans-serif;
}
.sound{
    border-radius: 10px;
    border: 3px solid black;
    width: 80vw;
    height: 100px;
    margin: 25px auto;
    opacity: 0.5;
    background: #702020;
    transition: 0.2s;
    display: flex;
    flex-wrap: wrap;
}
.sound:hover{
    /* cursor: all-scroll; */
    /* transform: scale(1.01); */
    /* border: 1px solid white; */
}
.playing{
    opacity: 0.8;
    background: #207020;
    transition: 0.1s;
}
.controls{
    display: inline-flex;
    float: none;
    /* border: 1px solid black; */
    border-radius: 5px;
    height: 100%;
    width: 10%;
    min-width: 50px;
    z-index: 100;
}
.controls:hover{
    cursor: pointer;
    transform: scale(1.2);
    color: white;
    transition: 0.2s;
}
.control{
    /* border: 1px solid red; */
    /* margin-top: 5px; */
    overflow: hidden;
    position: relative;
    height: 90%;
    /* left: -5px; */
    /* padding: 5px; */
    transition: 0.2s;
}
.control:hover{
    cursor: pointer;
    /* transform: scale(1.2); */
    color: white;
    transition: 0.2s;
}
.play{
    /* margin-bottom: 10px; */
    font-size: 64px;
    margin-left: 25px;
    width: 55px;
    /* position: relative; */
    top: 0;
    /* height: 42px; */
}
.pause{
    font-size: 69px;
    width: 45px;
    margin-left: 10px;
    position: relative;
    top: -5px;
}
.inactive{
    display: none;
}
.sliders{
    display: flexbox;
    float: none;
    /* border: 1px solid red; */
    width: 80%;
    padding: 10px;
    font-size: 18px;
    height: 5px;
    margin-left: 25px;
}
.slider:hover{
    cursor: pointer;
}
.slider{
    margin: 5px;
    position: relative;
    top: 9px;
    width: 70%;
    margin-left: 15px;
}
label.volume{
    position: relative;
    top: -15px;
}
.seek{
    width: 80%;
    /* display: flex; */
}
.selector{
    display: inline-block;
    width: 100%;
}
.sound-selector{
    width: 100%;
    display: inline-block;
}