body{
    background: #555555;
    font-family: sans-serif;
}
.sound{
    border-radius: 5px;
    border: 3px solid red;
    width: 80vw;
    height: 10vh;
    margin: 25px auto;
    background: gray;
    transition: 0.2s
}
.playing{
    border: 3px solid lime;
    transition: 0.2s
}
.controls{
    border-radius: 5px;
    border: 2px solid black;
    height: 96%;
    width: 10%;
    display: block;
    min-width: 50px;
}
.control{
    /* border: 1px solid red; */
    margin-top: 5px;
    overflow: hidden;
    position: relative;
    left: -5px;
    /* padding: 5px; */
    transition: 0.2s;
}
.control:hover{
    cursor: pointer;
    transform: scale(1.1);
    color: white;
    transition: 0.2s;
}
.play{
    /* margin-bottom: 10px; */
    font-size: 33px;
    margin-left: 11px;
    width: 45px;
    height: 42px;
}
.stop{
    font-size: 42px;
    height: 20px;
    margin-left: 10px;
}
.sliders{
    display: block;
    /* border: 1px solid red; */
    width: 100%;
    padding: 10px;
    font-size: 11px;
}
.slider:hover{
    cursor: pointer;
}
.slider{
    margin: 5px;
    position: relative;
    top: 10px;
}
.seek{
    width: 80%;
    /* display: flex; */
}
.sound-selector{
    margin-left: 123px;
    width: 123px;
}